<a href="https://colab.research.google.com/github/jproctor-rebecca/DS-Unit-1-Build/blob/master/module2-wrangle-ml-datasets/LS_DS_232_assignment_RJProctor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---
# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [ ]:
# load csv file to pandas dataframe
import pandas as pd

teach_geo_merged = pd.read_csv('teach_geo_merged.csv')

# display pandas dataframe(s)
print(teach_geo_merged.shape)
teach_geo_merged

(95791, 10)

          DistrictName                SchoolName  ...    county  county_type
0      Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
1      Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
2      Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
3      Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
4      Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
...                ...                       ...  ...       ...          ...
95786     White County   Central View Elementary  ...     White        rural
95787     White County   Central View Elementary  ...     White        rural
95788     White County   Central View Elementary  ...     White        rural
95789     White County   Central View Elementary  ...     White        rural
95790     White County   Central View Elementary  ...     White        rural

[95791 rows x 10 columns]

In [ ]:
# explore numeric values
teach_geo_merged.describe()

       StronglyDisagree      Disagree  ...  StronglyAgree       zipcode
count      95791.000000  95791.000000  ...   95791.000000  95791.000000
mean           4.517731     15.862023  ...       4.517731  37705.099373
std            6.961898     13.306021  ...       6.961898    466.075497
min            0.000000      0.000000  ...       0.000000  37013.000000
25%            0.000000      6.000000  ...       0.000000  37303.000000
50%            0.000000     13.000000  ...       0.000000  37743.000000
75%            7.000000     24.000000  ...       7.000000  38050.000000
max           90.000000    100.000000  ...      90.000000  38587.000000

[8 rows x 5 columns]

In [ ]:
# explore non-numeric values
teach_geo_merged.describe(exclude='number')

       DistrictName           SchoolName  ...  county  county_type
count         95791                95791  ...   95791        95791
unique          196                 1325  ...      95            4
top     Knox County  Central High School  ...  Shelby  mixed rural
freq           3803                 2442  ...    4592        40859

[4 rows x 5 columns]

In [ ]:
# explore missing, null values, dtypes
teach_geo_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95791 entries, 0 to 95790
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DistrictName      95791 non-null  object
 1   SchoolName        95791 non-null  object
 2   Prompt            95791 non-null  object
 3   StronglyDisagree  95791 non-null  float64
 4   Disagree          95791 non-null  float64
 5   Agree             95791 non-null  float64
 6   StronglyAgree     95791 non-null  float64
 7   zipcode           95791 non-null  int64
 8   county            95791 non-null  object
 9   county_type       95791 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 7.3+ MB

In [ ]:
# Wrangle and engineer data
# index on zipcode
teach_geo_merged_cleaned = teach_geo_merged.set_index('zipcode')

# display shape and dataframe 
print(teach_geo_merged_cleaned.shape)
teach_geo_merged_cleaned.head()

(95791, 9)

            DistrictName                SchoolName  ...    county  county_type
zipcode                                             ...
37705    Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
37705    Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
37705    Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
37705    Anderson County  Andersonville Elementary  ...  Anderson  mixed rural
37705    Anderson County  Andersonville Elementary  ...  Anderson  mixed rural

[5 rows x 9 columns]

In [ ]:
# drop redundant columns county == DistrictName
teach_geo_merged_cleaned = teach_geo_merged_cleaned.drop(columns='county', axis=1)

# display shape and dataframe 
print(teach_geo_merged_cleaned.shape)
teach_geo_merged_cleaned.head()

(95791, 8)

            DistrictName                SchoolName  ... StronglyAgree  county_type
zipcode                                             ...
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           6.0  mixed rural

[5 rows x 8 columns]

In [ ]:
# standardize data - SD, D, A, SA features
# multiply all floats > 1 by 100

#def multiply(column):
#  for value in column:
#    if value < 1:
#      column.mask(column == value, value * 100, inplace=True)

#teach_geo_merged_cleaned['StronglyDisagree'] = multiply(teach_geo_merged_cleaned['StronglyDisagree'])
#teach_geo_merged_cleaned['Disagree'] =  multiply(teach_geo_merged_cleaned['Disagree'])
#teach_geo_merged_cleaned['Agree'] =  multiply(teach_geo_merged_cleaned['Agree'])
#teach_geo_merged_cleaned['StronglyAgree'] =  multiply(teach_geo_merged_cleaned['StronglyAgree'])

# display shape and dataframe 
#print(teach_geo_merged_cleaned.shape)
#teach_geo_merged_cleaned.head(100)

In [ ]:
# engineered features
# groupby 'prompt'
# frequency of prompt - engineered item 
teach_geo_merged['Prompt'].value_counts()

prompt_sorted = teach_geo_merged.sort_values(by='Prompt', 
                                             ascending=False).head()
                           
# display shape and dataframe 
print(prompt_sorted.shape)
prompt_sorted.head()

(5, 10)

            DistrictName                    SchoolName  ...    county  county_type
23214    Davidson County  Martin Luther King Jr School  ...  Davidson        urban
77221         Germantown         Houston Middle School  ...    Shelby        urban
37285    Hamilton County        Dalewood Middle School  ...  Hamilton  mixed urban
1453     Anderson County          Norris Middle School  ...  Anderson  mixed rural
21322  Cumberland County          Pine View Elementary  ...     Roane  mixed rural

[5 rows x 10 columns]

In [ ]:
# the most frequently answered prompt
prompt_sort_count = prompt_sorted.groupby('Prompt').count()

# display shape and dataframe 
print(prompt_sort_count.shape)
prompt_sort_count.head(10)

(1, 9)

                                                    DistrictName  ...  county_type
Prompt                                                            ...
 School leadership proactively seeks to underst...             5  ...            5

[1 rows x 9 columns]

In [ ]:
# guidence on ML process - note to self
# https://machinelearningmastery.com/feature-selection-with-categorical-data/

In [ ]:
teach_geo_merged_cleaned.head(100)

            DistrictName                SchoolName  ... StronglyAgree  county_type
zipcode                                             ...
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           0.0  mixed rural
37705    Anderson County  Andersonville Elementary  ...           6.0  mixed rural
...                  ...                       ...  ...           ...          ...
37710    Anderson County     Briceville Elementary  ...           0.0  mixed rural
37710    Anderson County     Briceville Elementary  ...           0.0  mixed rural
37710    Anderson County     Briceville Elementary  ...           0.0  mixed rural
37710    Anderson County     Briceville Elementary  ...           0.0  mixed rural
37710    Anderson County     Briceville Elementary  ...          25.0  mixed rural

[100 rows x 8 columns]

In [ ]:
# split data - target (predictor) data: 'county_type'

# define target and feature matrices
#target = teach_geo_merged_cleaned['county_type']
#features = teach_geo_merged_cleaned.drop('county_type', axis=1)


#y = target
#X = features
#
# split data into train/val/test data sets
#from sklearn.model_selection import train_test_split
#X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=42)

# display shape of dataframe(s)
#print('Train ', X_train.shape, y_train.shape)
#print('Validation ', X_val.shape, y_val.shape)

In [ ]:
# load the dataset

def load_dataset(filename):
  # load the dataset as a pandas DataFrame
  data = teach_geo_merged_cleaned
  # define target and feature matrices
  target = teach_geo_merged_cleaned['county_type']
  features = teach_geo_merged_cleaned.drop('county_type', axis=1)
  
  y = target
  X = features
  
  # format all fields as string
  X = X.astype(str)
  return X, y

In [ ]:
# prepare input data
# encode output data for train and validation sets
from sklearn.preprocessing import OrdinalEncoder

def prepare_inputs(X_train, X_val):
  # variables have natural order that impact model - use oe to encode
	oe = OrdinalEncoder()
  # fit encoder to training dataset
	oe.fit(X_train)
  # transform training dataset
	X_train_enc = oe.transform(X_train)
  # transform validation dataset
	X_val_enc = oe.transform(X_val)
	return X_train_enc, X_val_enc

In [ ]:
# prepare target
# encode output data for train and validation sets

def prepare_targets(y_train, y_val):
  # variables have natural order that impact model - use oe to encode
	oe = OrdinalEncoder()
  # fit to training dataset
	oe.fit(y_train)
  # transform training dataset
	y_train_enc = oe.transform(y_train)
  # transform validation dataset
	y_val_enc = oe.transform(y_val)
	return y_train_enc, y_val_enc

In [ ]:
# feature selection
def select_features(X_train, y_train, X_val):
  # selects features according to highest scores
  fs = SelectKBest(score_func=chi2, k='all')
  # fit to training dataset
  fs.fit(X_train, y_train)
  # transform to training dataset
  X_train_fs = fs.transform(X_train)
  # transform to validation dataset
  X_val_fs = fs.transform(X_val)
  return X_train_fs, X_val_fs, fs

In [ ]:
# feature selection - mutual information
def select_features(X_train, y_train, X_val):
  # selects features according to highest scores - for use with 
  # discrete and continuous features
  fs_mi = SelectKBest(score_func=mutual_info_classif, k='all')
  # fit to training dataset
  fs_mi.fit(X_train, y_train)
  # transform to training dataset
  X_train_fs_mi = fs_mi.transform(X_train)
  # transform to validation dataset
  X_val_fs_mi = fs_mi.transform(X_val)
  return X_train_fs_mi, X_val_fs_mi, fs_mi

In [ ]:
# load the dataset
X, y = load_dataset(X, y)

# split into train and test sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=42)

# prepare input data
X_train_enc, X_val_enc = prepare_inputs(X_train, X_val)
# prepare output data
y_train_enc, y_val_enc = prepare_targets(y_train, y_val)

# display shape of dataframe(s)
print('Train: ', X_train.shape, y_train.shape)
print('Validation: ', X_val.shape, y_val.shape)

# display shape of dataframe(s)
print('Train: (encoded)', X_train_enc.shape, y_train_enc.shape)
print('Validation: (encoded) ', X_val_enc.shape, y_val_enc.shape)

NameError: ignored

In [ ]:
# feature selection
X_train_fs, X_val_fs, fs = select_features(X_train_enc, y_train_enc, X_val_enc)

# display shape of dataframe(s)
print('Train: (feature selection)', X_train_fs.shape, y_train_fs.shape)
print('Validation: (feature selection) ', X_val_fs.shape, y_val_fs.shape)

# what are scores for the features
for i in range(len(fs.scores_)):
	print('Feature %d: %f' % (i, fs.scores_[i]))
 
# plot the scores
pyplot.bar([i for i in range(len(fs.scores_))], fs.scores_)
# display figure
pyplot.show()

In [ ]:
# feature selection - mutual information clasification
X_train_fs_mi, X_val_fs_mi, fs = select_features(X_train_enc, y_train_enc, X_val_enc)

# display shape of dataframe(s)
print('Train: (feature selection-mutual information classification)', 
      X_train_fs_mi.shape, y_train_fs_mi.shape)
print('Validation: (feature selection-mutual information clasification) ', 
      X_val_fs_mi.shape, y_val_fs_mi.shape)

# what are scores for the features
for i in range(len(fs_mi.scores_)):
	print('Feature %d: %f' % (i, fs_mi.scores_[i]))
 
# plot the scores
pyplot.bar([i for i in range(len(fs_mi.scores_))], fs_mi.scores_)
# display figure
pyplot.show()

In [ ]:
# instantiate model
model = LogisticRegression(solver='lbfgs')

# fit the model
model.fit(X_train_enc, y_train_enc)

# evaluate the model - predict values
y_pred = model.predict(X_test_enc)

# evaluate predictions
accuracy = accuracy_score(y_val_enc, y_pred)
print('Accuracy: %.2f ', % (accuracy*100))